<!-- [(ngModel)] to link fields with ts -->
<div class="login-container">
  <h2>Login</h2>

  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="email" placeholder="name@gmail.com" required>

    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" placeholder="********" required>

    <button type="submit">Login</button>

    <p *ngIf="errorMessage" style="color:red; text-align:center; margin-top:10px;">
      {{ errorMessage }}
    </p>

    <p style="text-align:center; margin-top:10px;">
      Don't have an account? <a href="#">Sign up</a>
    </p>
  </form>
</div>
